* {
    padding: 0;
    margin: 0;
    font-family: 'Gowun Dodum', sans-serif;
    text-decoration: none;
    color: white;
    /*font-family: 'Gothic A1', sans-serif;*/
    /*font-family: 'Nanum Gothic', sans-serif;*/
    /*border: 1px solid black;*/
}
.con{
    background-color: #292929;
    /*background: linear-gradient(to right, #283048, #859398);*/
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.2rem;
}

header{
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 1.2rem 0;
}
.title{
    text-decoration: none;
    font-family: 'Black Han Sans', sans-serif;
    color: white;
    font-size: 2rem;
}
header>ul{
    display: flex;
}
header>ul>li{
    list-style-type: none;
    margin-left: 1.5rem;
}
header>ul>li>a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    /*font-weight: 400;*/
}
header>ul>li:first-child>a{
    border-bottom: 5px solid whitesmoke;
}
@media screen and (max-width: 800px) {
    header{
        flex-direction: column;
    }
}
/*header>ul>li:hover{*/
/*    border-bottom: 5px solid ghostwhite;*/
/*}*/

footer{
    color: white;
    margin-bottom: 2rem;
    font-size: 0.5rem;
    /*font-weight: 100;*/
}