section{
    /*background-color: ghostwhite; !*완성 후 배경색 삭제*!*/
    display: flex;
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    height: 100vh;
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    align-items: center;
}
section>div>li{
    list-style-type: none;
}
.category-btn>li>a {
    background-color: gray;
    width: 1000px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bolder;
    border-radius: 0.3rem;
    opacity: 0.5;
}
.category-btn>li>a:hover{
    border: 3px solid whitesmoke;
    opacity: unset;
}