section{
    background-color: ghostwhite;
    display: flex;
    width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    height: 100vh;
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    align-items: center;
}
section>div>li{
    list-style-type: none;
}
.category-btn>li>a {
    background-color: gray;
    width: 800px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
}