.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

#convert{
  background-color: black;
    display: block;
    border: 1px solid black;
    border-radius: 0.4rem;
    width: 80px;
    font-size: 1rem;
    font-weight: 600;
    margin: auto;
    padding: 0.5rem;
    text-decoration: none;
    margin-left: 0px;
}