ul, li{
    list-style: none;
}
.list_wrap {
    /*background-color: ghostwhite;*/
    display: block;
    width: 100%;
    height: 100%;
    min-width: 908px;
    position: relative;
    vertical-align: top;
    margin: 0 auto;
    box-sizing: border-box;
}
.list_wrap .list_item{
    display: inline-block;

}
.list_wrap .item{
    display: inline-block;
}
.list_wrap .item .img{
    width: 100%;
    height: 100%;
}
.list_img_box .item{
    margin: 0 auto;
    padding: 10px 10px;
}
.list_img_box .list_img{
    margin: 0 auto;
    /*padding: 0;*/
    display: block;
}
.list_img_box .list_img .img{
    margin: 0 auto;
    position: center;
}
.list_item_box .list_img_cont>a{
    text-decoration: none;
    color: white;
    /*color: black;*/
    font-size: 12px;
}