{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&family=Song+Myung&family=Stylish&display=swap" rel="stylesheet">    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

    <title>G:RIDA 그리다</title>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="con">
    <header>
        <p>G:RIDA그리다</p>
        <ul class="header-btn">
            <li><a href="{% url 'category' %}">Home</a></li>
            <li><a href="{% url 'list' 'Korea' %}">Korea</a></li>
            <li><a href="{% url 'list' 'Japan' %}">Japan</a></li>
            <li><a href="{% url 'list' 'China' %}">China</a></li>
            <li class="btn_search">
                <a href="javascript:void(0);"><img alt="통합검색" src="images/#"></a>
                <label for="totalSearch" class="a11y">통합검색</label><input id="totalSearch" placeholder="통합검색" type="text">
            </li>
        </ul>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <p> Copyright ©2022 TEAMSPARTA_G:RIDA그리다. All rights reserved. </p>
    </footer>
    </div>
</body>
</html>