{% extends 'base.html' %}
{% load static %}
{% block head %}
<link href="{% static 'css/category.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    <section>
        <div class="category-btn">
            <li><a href="{% url 'list' 'Korea' %}"><img src="https://d1txao2peb1gkd.cloudfront.net/media/%EB%AA%BD%EC%9C%A0%EB%8F%84%EC%9B%90%EB%8F%84.jpg">K o r e a</a></li>
            <li><a href="{% url 'list' 'Japan' %}"><img src="images/#">J a p a n</a></li>
            <li><a href="{% url 'list' 'China' %}"><img src="images/#">C h i n a</a></li>
        </div>
    </section>
{% endblock %}