{% extends 'base.html' %}
{% load static %}
<link href="{% static 'css/category.css' %}" rel="stylesheet" type="text/css">
{% block content %}
    <section>
        <button class="category-btn">
            <li><a href="{% url 'list' 'Korea' %}"><img src="images/#">Korea</a></li>
            <li><a href="{% url 'list' 'Japan' %}"><img src="images/#">Japan</a></li>
            <li><a href="{% url 'list' 'China' %}"><img src="images/#">China</a></li>
        </button>
    </section>
{% endblock %}