{% extends 'base.html' %}
{% load static %}
{% block head %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    <div class="con_index">
        <div class="index_warp" style="background-image: url('{% static 'main_img.jpg' %}'); width: 900px; height: 400px;">
            <section>
                <h1>G:RIDA그리다</h1>
                <p> 나만의 새로운 동양화를 G:RIDA그리다.</p>
                <a class="button" href="{% url 'category' %}">
                    <span class="start-button">GET STARTED</span>
                </a>
            </section>
        </div>
    </div>
{% endblock %}